@{
  Layout = "_Layout";
}

        @using PierresTracker.Models;

        <h3>Here are all of @Model["vendor"].Name's orders:</h3>

        <ol>
        @foreach (Order order in @Model["orders"])
        {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a>, @order.Qty</li>
        }
        </ol>

        <a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a><br>
        <a href='/vendors'>Return to vendor list</a><br>
        <a href='/'>Return to Main Page</a>
